@using BusinessObj.Models;
@using System.Text.Json
@using FAM.Controllers
@{
    ViewData["Title"] = "Teacher's Home Page";
    //User authenticatedUser = null;
    //string loginInfo = Context.Session.GetString("LOGININFO");
    //if (loginInfo != null)
    //{
    //    authenticatedUser = JsonSerializer.Deserialize<User>(loginInfo);
    //}
}

<h1 style="text-align: center">Đây là trang cho Teacher</h1>