@model IEnumerable<BusinessObj.Models.Score>

@{
    ViewData["Title"] = "Test Page";
}

<h1>Testing</h1>

<p style="color:white">Random</p>

<div class="container text-center">
    <h1>@ViewBag.Message</h1>
</div>