@model BusinessObj.Models.Subject


@{
    ViewData["Title"] = "Admin | Create Subject";
}


<hr />
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list single-page-breadcome">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="breadcome-menu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li>
                                    <span class="bread-blod">Create Subject</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a>Subject Information</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div id="dropzone1" class="pro-ad">
                                                <form asp-action="Create" asp-controller="Subjects">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="form-group">
                                                        <label asp-for="SubjectID" class="control-label"></label>
                                                        <input asp-for="SubjectID" class="form-control" />
                                                        <span asp-validation-for="SubjectID" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="SubjectName" class="control-label"></label>
                                                        <input asp-for="SubjectName" class="form-control" />
                                                        <span asp-validation-for="SubjectName" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="SlotRequire" class="control-label"></label>
                                                        <input asp-for="SlotRequire" class="form-control" />
                                                        <span asp-validation-for="SlotRequire" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="MajorCode" class="control-label"></label>
                                                        <select asp-for="MajorCode" class="form-control" asp-items="ViewBag.MajorCode">
                                                            <option value="SE">Software Engineer</option>
                                                            <option value="AI">Artificial Intelligence</option>
                                                            <option value="MC">Multimedia Communication</option>
                                                            <option value="IB">International Business</option>
                                                            <option value="GD">Graphic Design</option>
                                                            <option value="EL">English Language</option>
                                                            <option value="JL">Japanese Language</option>
                                                            <option value="IA">Information Assurance</option>
                                                            <option value="HM">Hospitality Management</option>
                                                            <option value="DM">Digital Marketing</option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Create" class="btn btn-custon-rounded-three btn-primary" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="button" value="Cancel" onclick="location.href = '@Url.Action("Index","Subjects")';" class="btn btn-custon-rounded-three btn-danger" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
